<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body> 
    <div>
    <p><h1 align="center">Twitter Sentiment Analysis</h1></p>
	<form class="form-inline" method="post" action="/">
		<div align="center">
			<div class="form-group">
				<label class="sr-only" for="tweetInput" style="font-size:2vw">Search:</label>
				<input type="search" name="searched" id="tweetSearch" placeholder="Search">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
	<br><br><br>
    <script>
        $(document).ready(function(){
		var table =  $('#myTable');
		 var b = JSON.parse({{ rows | tojson}});
		 console.log(b)
		 var max_size=b.length;
		 var sta = 0;
		 var elements_per_page = 10;
		 var limit = elements_per_page;
		 goFun(sta,limit);
		 function goFun(sta,limit) {
		  for (var i =sta ; i < limit; i++) {
		    
		    var $nr = $('<tr><td>' + b[i]['tweets'] + '</td><td>' + b[i]['Analysis']  + '</td></tr>');
		    table.append($nr);
		  }
		  }
		  $('#nextValue').click(function(){
		  
			var next = limit;
			if(max_size>=next) {
			limit = limit+elements_per_page;
			table.empty();
			goFun(next,limit);
			}
		  });
		  $('#PreeValue').click(function(){
			var pre = limit-(2*elements_per_page);
			if(pre>=0) {
			limit = limit-elements_per_page;
			table.empty();
			goFun(pre,limit); 
			}
		  });
		  for (let i =1; i<=9; i++)
		  {

		  	console.log(i,' lint1 ', limit)

		  	 $(`#${i}`).click(function(){
				// var last=10;
				// var first=0;
				// limit=last;
				// table.empty();
				// goFun(first,last);
				const j=i
				limit = j*elements_per_page;
			  	var pre = limit-elements_per_page;
			  	table.empty();
				
				goFun(pre,limit); 
				  });
				}

		});
    </script>
	<table class="paginated" border=5 style="min-width:1350px">
	    <thead bgcolor="yellow" style="font-size:2vw" align="center">
	        <tr>
	            <th class="col">Tweets</th>
	            <th class="col">Analysis</th>  
	       </tr>
	  </thead>
	  <tbody id="myTable">
	 </tbody>
	  
	</table>
	<div align="center" style="padding-top: 8px">
		<button id="PreeValue" type="button">Previous</button>&ensp;
		{% for page in number_of_page %}
		<button id={{page}} type="button">{{page}}</button>&ensp;
		
		{% endfor %}

		&ensp;<button id="nextValue" type="button">Next</button>
	</div>
	</div>
     
</body>
</html>